*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    color: #fff;
}

/* header */
header .row{
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: flex-end;
    background-color: #000;
}

header .row .contact{
    display: flex;
    margin-right: 100px;
    list-style-type: none;
}

header .row .contact li a{
    text-decoration: none;
    padding: 0 10px;
    color: gray;
    font-size: 15px;
}

header .row-title{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: flex-start;
    background-color: #000;
}

header .link-item{
    display: flex;
    align-items: center;
    margin-left: 150px;
    list-style-type: none;
}

header .link-item li a{
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    font-size: 15px;
}
/* header */


/* main */
main .container{
    height: 100vh;
    display: flex;
    background-color: #0D0B26
}

main .jumbotron{
    background-image: url('https://www.coreldraw.com/static/cdgs/product_content/cdgs/2021/dragon.png');
    width: 45%;
    height: 100%;
    background-position: right;
}

main .jumbo-text{
    margin-left: 60px;
    margin-top: 50px;
    width: 600px;
}

main .title-jumbo{
    padding-bottom: 30px;
    border-bottom: 1px solid gray;
}

main .title-jumbo .titolo{
    font-size: 30px;
    font-weight: 100;
}

main .title-jumbo span{
    text-transform: uppercase;
    font-size: 30px;
    font-style: italic;
    margin-right: 10px;
}


main .recensioni{
    margin-top: 20px;
    display: flex;
}

main .recensioni .prova{
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
}

main .link-item{
    display: flex;
    align-items: center;
    margin-left: 20px;
    list-style-type: none;
    font-size: 12px;
}

main .link-item li a{
    color: #fff;
    padding: 0 2px;
    text-decoration: none;
}

main .link-item i{
    color: yellow;
}

main .link-item .number{
    margin-left: 10px;
    font-size: 14px;
}

main .title-jumbo-second{
    display: flex;
    margin-top: 15px;
    color: rgb(192, 186, 186);
    font-size: 15px;
    justify-content: space-between;
}

main .btn-piani{
    display: flex;
    margin-top: 20px;
}

main .plans{
    display: flex;
    flex-direction: column;
    padding: 0 50px 50px 50px;
    border: 2px solid #009CFF;
    background-color: #223942;
    border-radius: 10px;
}

main .plans #vo{
    text-transform: uppercase;
    text-decoration: none;
    color: #009CFF;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}

main .plans #pa{
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
}

main .plans.two #pa{
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

main .plans.one{
    width: calc(100% / 2 - 20px);
    margin: 0 10px 0 0;
}

main .plans.two{
    width: 50%;
    border: 2px solid gray;
    background-color: transparent;
}

main .text{
    margin-top: 20px;
    font-size: 15px;
    color: rgb(216, 213, 213);
}

main .price{
    margin-top: 20px;
    display: flex;
}

main .price #prezzo{
    font-size: 25px;
    font-weight: bold;
}

main .price h4{
    font-weight: 100;
    font-size: 15px;
}

main .price span{
    margin-top: 5px;
    font-size: 12px;
    font-weight: 100;
}

main .content-left{
    display: flex;
    flex-direction: column;
    width: 50%;
}

main .content-left .buy{
    text-transform: uppercase;
    padding: 10px 40px;
    margin: 20px 0;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background-color: #009cff;
}

main .content-left .info{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    margin: 5px 0;
}

main .content-right{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 30px;
    justify-content: center;
}

main .content-right #offerta{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

main .content-right .free{
    text-transform: uppercase;
    font-size: 14px;
}

main .content-right p{
    font-size: 12px;
    margin-top: 5px;
}





/* ---- smartphone ---- */
@media  (max-width: 420px) {



}



/* ---- smartphone ---- */




/* ---- tablet ---- */



/* ---- tablet ---- */



